:root {
  --main-color: #000;
  --second-color: #6e6e73;
  --padding-default: 32px;
}

body {
  font-family: "Poppins",sans-serif;
  background-color: #f5f5f7;
}

.container-blog {
  margin: auto;
  width: 90%;
  max-width: 1000px;
  padding: 16px;
}

.container-blog h1 {
  font-size: 2.1rem;
  color: var(--main-color);
}

.card_destaque {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  text-decoration: none;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.card_destaque img,
.card_left img,
.container_triple img {
  width: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 0px 0px 20px;
  -webkit-transition: .5s;
  transition: .5s;
}

.card_destaque:hover img,
.card_left:hover img,
.container_triple:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

h2 {
  color: var(--main-color);
}

.card_text {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  z-index: 1;
  background-color: #fff;
}

.short_name,
.short_name_artigo {
  text-transform: uppercase;
}

.short_name,
.date,
.short_name_artigo {
  font-weight: 700;
  color: var(--second-color);
}

.title_destaque {
  color: var(--main-color);
  font-size: 2rem;
}

.double_card {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.double_card a {
  color: #6e6e73;
  text-decoration: none;
  width: 48%;
}

.double_card img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px  20px 0px 0px;
}

.card_left {
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  height: 500px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card_text_artigos {
  padding: 24px;
}

.tripple_card {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container_triple img {
  width: 100%;
}

.container_triple {
  width: 30%;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
}

.container_triple img {
  border-radius: 16px 16px 0px 0px;
}

.container_triple a {
  text-decoration: none;
}

.container_triple h2 {
  color: var(--main-color);
  font-size: 1.2rem;
}

.container_triple .card_text_artigos p {
  font-size: .9rem;
}

@media (max-width: 1080px) {
  .container-blog {
    width: 800px;
  }
  .double_card img {
    height: 263px;
  }
}

@media (max-width: 800px) {
  .card_destaque {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .card_destaque img {
    width: 100%;
    border-radius: 16px 16px 0px 0px;
  }
  .card_text {
    width: auto;
  }
  .container-blog {
    max-width: 500px;
    width: 90%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .double_card,
  .tripple_card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .double_card a,
  .container_triple {
    width: 100%;
    margin-top: 50px;
  }
  .title_destaque {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=style.css.map */